#flag {
}
.header {
  margin-bottom: 50px;
}
.flag {
  position: relative;
  display: inline-block;
  margin: 2em 3em 120px;
  width: 120px;
  height: 120px;
  border: 1px solid #bbb;
  border-left-color: white;
  box-sizing: border-box;
  box-shadow: 2px 5px 14px 0px rgba(0, 0, 0, 0.4);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform-style: preserve3d;
  -webkit-transform-origin: 0 250px;
  -webkit-transform: translate3d(0, 0, 0) rotateZ(5deg) rotateY(-22deg);
  -webkit-animation-name: wave;
  -webkit-animation-duration: 8s;
  -webkit-animation-timing-function: cubic-bezier(0.16, 0.14, 0.82, 0.73);
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}
.flag:nth-child(odd) {
  -webkit-animation-delay: 1s;
}
.flag:before {
  position: absolute;
  content: "";
  height: 240px;
  left: -5px;
  top: -3px;
  width: 6px;
  border-right: 1px solid white;
  border-radius: 3px;
  background-color: #444;
  box-shadow: -3px 3px 8px 0px rgba(0, 0, 0, 0.4);
}
.flag.rect {
  width: 168px;
}
.flag-pattern {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  -webkit-box-reflect: below 60px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent), to(rgba(255, 255, 255, 0.05)));
}

.flag-pattern.us {
  background-color: #c80000;
  background-image: linear-gradient(#c80000 50%, #ffffff 50%);
  background-size: 100% 15.38%;
  background-repeat: repeat-y;
}
.flag-pattern.us:before,
.flag-pattern.us:after {
  position: absolute;
  max-width: 52%;
  overflow: hidden;
  word-break: break-word;
  text-align: center;
  font-size: 7px;
  color: white;
  line-height: 1.9em;
  letter-spacing: 1em;
}
.flag-pattern.us:before {
  content: "\2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 ";
  background-color: #3f3c6e;
  border-left: 3px solid #3f3c6e;
}
.flag-pattern.us:after {
  content: "\2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 ";
  box-sizing: border-box;
  margin-left: 3px;
  padding: .9em 1em;
}

.flag-wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, 0 -25%, 100% top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(20%, rgba(255, 255, 255, 0)), color-stop(30%, rgba(0, 0, 0, 0.04)), color-stop(40%, rgba(255, 255, 255, 0.2)), color-stop(60%, rgba(255, 255, 255, 0)), color-stop(65%, rgba(255, 255, 255, 0.2)), color-stop(80%, rgba(0, 0, 0, 0.05)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-size: 200%;
  -webkit-animation-name: flutter;
  -webkit-animation-duration: 8s;
  -webkit-animation-timing-function: cubic-bezier(0.16, 0.14, 0.82, 0.73);
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes flutter {
  0% {
    background-position: -200% 0px;
  }
  30% {
    background-position: -60% 5px;
  }
  70% {
    background-position: 70% -5px;
  }
  100% {
    background-position: 200% 0px;
  }
}
@-webkit-keyframes wave {
  0% {
    box-shadow: 4px 5px 5px 0 rgba(0, 0, 0, 0.1);
    -webkit-transform: translate3d(0, 0, 0) rotateZ(5deg) rotateY(22deg);
  }
  20% {
    box-shadow: 4px 5px 15px 0 rgba(0, 0, 0, 0.1);
    -webkit-transform: translate3d(0, 0, 0) rotateZ(5deg) rotateY(0deg);
  }
  40% {
    box-shadow: 4px 5px 20px 0 rgba(0, 0, 0, 0.4);
    -webkit-transform: translate3d(0, 0, 0) rotateZ(6deg) rotateY(-22deg);a
  }
  60% {
    box-shadow: 4px 5px 5px 0 rgba(0, 0, 0, 0.1);
    -webkit-transform: translate3d(0, 0, 0) rotateZ(5deg) rotateY(0deg);
  }
  80% {
    box-shadow: 4px 5px 5px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: translate3d(0, 0, 0) rotateZ(5deg) rotateY(16deg);
  }
  100% {
    box-shadow: 4px 5px 5px 0 rgba(0, 0, 0, 0.1);
    -webkit-transform: translate3d(0, 0, 0) rotateZ(5deg) rotateY(22deg);
  }
}
