body {
  background: url("../Images/art_flag.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

#background {
  background: url("../Images/white_house.jpg")  ;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  height: 90%;
  width: 90%;
  margin: 0 auto;
  border: 3px solid white;
  margin-top: 35px;
}

h1 {
  font-family: 'Pinyon Script', cursive;
  margin-left: 475px;
}
.flex-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
}


.flex-items-default {
    width: 300px;
    height: 250px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 0;
}

 .flex-item-1 {
    width: 300px;
    height: 250px;
    flex-grow: <property unused>
    flex-shrink: <property unused>
    flex-basis: <property unused>
}

 .flex-item-2 {
    width: 300px;
    height: 250px;
    flex-grow: <property unused>
    flex-shrink: <property unused>
    flex-basis: <property unused>
}

 .flex-item-3 {
    width: 300px;
    height: 250px;
    flex-grow: <property unused>
    flex-shrink: <property unused>
    flex-basis: <property unused>
}

 .flex-item-4 {
    width: 300px;
    height: 250px;
    flex-grow: <property unused>
    flex-shrink: <property unused>
    flex-basis: <property unused>
}

 .flex-item-5 {
    width: 300px;
    height: 250px;
    flex-grow: <property unused>
    flex-shrink: <property unused>
    flex-basis: <property unused>
}

 .flex-item-6 {
    width: 300px;
    height: 250px;
    flex-grow: <property unused>
    flex-shrink: <property unused>
    flex-basis: <property unused>
}
